
@using ETicaret.Models;
@{
    ViewBag.Title = "E-Ticaret";

    IEnumerable<Kategoriler> KategoriListesi = ViewBag.KategoriListesi as IEnumerable<Kategoriler>;

    IEnumerable<Urunler> SonUrunler = ViewBag.SonUrunler as IEnumerable<Urunler>;

}

<div class="jumbotron">
    <h1>E-TİCARET</h1>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kategoriler</h2>
       <ul>
          @foreach(var item in KategoriListesi)
          {
              <li>@Html.ActionLink(item.KategoriAdi,"Kategori",new { id=item.KategoriId})</li>
          }
       </ul>
    </div>

    <div class="col-md-9">
        <div class="row">
            @foreach(var item in SonUrunler)
            {
                <div class="col-md-3" style="border:1px solid #808080 ; margin: 5px;">

                    <a href="@Url.Action("Urun","Home",new { id=item.UrunId})">

                        <h5>@item.UrunAdi</h5>
                        <img src="~/Resim/@(item.UrunId).jpg" style="max-width:100%" />
                        <p>
                            <a class="btn btn-default" href="@Url.Action("Urun","Home",new { id=item.UrunId})">Ürün Detay</a>
                            <span style="color:red; font-weight:bold;font-size:16px;">@item.UrunFiyat TL</span>
                        </p>
                    </a>
                </div>
            }
        </div>

    </div>
   
</div>